/*"Body" is a Selector
   "{" is the declaration*/
body {
    /*Name property pairs 
    property and value are seperated by a : and end with a ;*/
    text-align: center;
    background-color: lavender;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  nav {
    background-color: steelblue;
    padding: 10px;
  }

  a {
    color: white;
    margin: 40px;
  }

  h1 {
    color: steelblue;
  }
  img {
    width: 800px;
    border: 4px solid steelblue;
  }
  p {
    padding: 10px;
  }
  footer {
    background-color: steelblue;
    color: white;
  }